
/pyastrotools/__pycache__/

/pyastrotools.egg-info/*
/pyastrotools/NEA/nasa_archive_exoplanets.csv
pyastrotools.egg-info/dependency_links.txt
pyastrotools.egg-info/PKG-INFO
pyastrotools.egg-info/SOURCES.txt
pyastrotools.egg-info/top_level.txt
pyastrotools/NEA/__pycache__/nasa_exoplanet_archive.cpython-39.pyc
*.pyc

/build/
/dist/
/pyastrotools.egg-info/
pyastrotools.egg-info/top_level.txt
pyastrotools.egg-info/SOURCES.txt
pyastrotools.egg-info/PKG-INFO
pyastrotools.egg-info/dependency_links.txt
dist/pyastrotools-0.2.1-py3.8.egg
build/lib/pyastrotools/optics_tools.py
build/lib/pyastrotools/observing_tools.py
build/lib/pyastrotools/NEA/nasa_exoplanet_archive.py
build/lib/pyastrotools/general_tools.py
build/lib/pyastrotools/astro_tools.py
build/lib/pyastrotools/astro_flux_calc.py
build/lib/pyastrotools/__init__.py
*.pyc
pyastrotools/Data/bt-settl/lte028-5.0-0.0a+0.0.BT-NextGen.7.dat.txt
pyastrotools/Data/bt-settl/lte029-5.0-0.0a+0.0.BT-NextGen.7.dat.txt
pyastrotools/Data/bt-settl/lte030-5.0-0.0a+0.0.BT-NextGen.7.dat.txt
pyastrotools/Data/bt-settl/lte031-5.0-0.0a+0.0.BT-NextGen.7.dat.txt
pyastrotools/Data/bt-settl/lte032-5.0-0.0a+0.0.BT-NextGen.7.dat.txt
pyastrotools/Data/bt-settl/lte033-5.0-0.0a+0.0.BT-NextGen.7.dat.txt
pyastrotools/Data/bt-settl/lte034-5.0-0.0a+0.0.BT-NextGen.7.dat.txt
pyastrotools/Data/bt-settl/lte035-5.0-0.0a+0.0.BT-NextGen.7.dat.txt
pyastrotools/Data/bt-settl/lte036-5.0-0.0a+0.0.BT-NextGen.7.dat.txt
pyastrotools/Data/bt-settl/lte037-5.0-0.0a+0.0.BT-NextGen.7.dat.txt
pyastrotools/Data/bt-settl/lte038-5.0-0.0a+0.0.BT-NextGen.7.dat.txt
pyastrotools/Data/bt-settl/lte039-5.0-0.0a+0.0.BT-NextGen.7.dat.txt
pyastrotools/Data/bt-settl/lte040-5.0-0.0a+0.0.BT-NextGen.7.dat.txt
pyastrotools/NEA/__pycache__/nasa_exoplanet_archive.cpython-39.pyc
*.pyc
pyastrotools/NEA/__pycache__/nasa_exoplanet_archive.cpython-39.pyc
*.pyc
